.description-tile__h1 {
    margin-top: 154px;
    margin-left: 162px;
    margin-bottom: 36px;
    width: 433px;
    height: 206px;
    vertical-align: top;
    font-size: 56px;
    line-height: 69px;
    color: #000000;
}